<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %> |
    <%= link_to 'Show All Users', users_path, class: "btn btn-info" %> 
  </div>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
